:root {
  --orientation: 90deg;
}

.Universe {
  display: block;
  position: relative;
}

.Ship {
  width: 100px;
  z-index: 1;
  height: auto;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: rotate(var(--orientation));
}

.Planet {
  border-radius: 50%;
}

.HUD {
  position: fixed;
  padding: 40px;
  bottom: 0px;
  left: 19%;
  width: 1000px;
  height: 100px;
  background-color: slategray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Status-bar {
  display: flex;
  position: fixed;
  bottom: 10px;
  justify-content: flex-end;
  overflow: hidden;
}

.Status-bar:nth-of-type(2) {
  bottom: 40px;
}

.Status-bar:nth-of-type(3) {
  bottom: 70px;
}

.Game-over {
  position: fixed;
  padding: 40px;
  height: fit-content;
  width: fit-content; 
  background-color: #97ceaa;
  border-radius: 10px;
  top: 150px;
  left: 43%;
}

