:root {
  --orientation: 90deg;
}

.Universe {
  display: block;
  position: relative;
}

#Ship {
  width: 100px;
  z-index: 1;
  height: auto;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 40%;
  margin-left: -50px;
  transform: rotate(var(--orientation));
}

#Ship:focus {
  outline: none;
}

.Planet {
  border-radius: 50%;
}

.popup {
  height: 300px;
  width: 420px; 
  background-color: #ffffff; 
  position: fixed;
  top:50px;
  left: 50px;
}

#startbutton {
  background-color: blueviolet;
  color: white;
}

.HUD {
  position: fixed;
  padding: 20px;
  bottom: 20px;
  left: 50%; /* move left end of div to center of screen */
  width: 1000px; /*  move div half of it's own width left to center */
  margin-left: -500px;
  height: fit-content;
  background-color: #0f0f0f;
  box-shadow:
  inset 0 0 2px 1px #0ff,
  inset 0 0 3px 2px #fff,
    0 0 10px 4px #0ff;
  /* order: x offset, y offset, blur size, spread size, color */
  /* blur and spread are optional and default to 0 */
  border-radius: 10px;
  animation: border-flicker 3s ease-in-out infinite;
}

.danger {
  animation: danger-flicker 1s linear infinite;
}

#warning {
  position: flex;
  color: red;
  justify-self: center;
  animation: text-flicker 0.75s linear infinite;
}

.Status-container {
  position: relative;
  bottom: 0;
  background-color: #000;
  border: 2px solid #1b1b1b;
  box-shadow: 
    inset 1px -2px 8px 3px #1b1b1b,
    0 0 3px 3px #0f0f0f;
  border-radius: 25px;
  margin: 4px auto;
  width: 100%;
}

.Status-bar {
  display: flex;
  position: relative;
  left: 0;
  justify-content: flex-start;
  overflow: hidden;
  font-style: italic;
  border-radius: 25px;
  box-shadow: 
    inset -2px 3px 5px 2px rgba(255, 255, 255, 0.678),
    0 0 20px 6px #000;
}

.score-clock {
  position: fixed;
  top: 10px;
  left: 50%;
  width: fit-content;
  margin-left: -132px;
  color: white;
}

.Game-over {
  position: fixed;
  z-index: 2;
  height: fit-content;
  width: 350px; 
  padding: 20px;
  top: 20%;
  left: 50%;
  margin-left: -185px;
  background-color: #510086;
  border-color: #410569;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow:
  inset 0 0 2px 1px #ffee00,
  inset 0 0 3px 2px #fff,
    0 0 10px 4px #ffee00;
}

input {
  margin: 1em;
  width: 20%;
  background-color: #743a9b;
  border: none;
  outline: none;
  color: black;
  padding: 10px;
  transition: width 0.5s ease-in-out;
}

input:focus, input:active {
  outline: 1px solid #ffee00;
  width: 50%;
}

.Game-over button {
  margin: 0.5em;
  background-color: #ffee00;
  filter: drop-shadow(0px, 0px, .5rem, #ffee00);
  color: black;
}

#mute {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 2em;
}

.Welcome {
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -600px;
  display: flex;
  width: 1200px;
  padding: 20px;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #0f0f0f; 
  color: #ffee00;
  box-shadow:
  inset 0 0 2px 1px #ffee00,
  inset 0 0 3px 2px #fff,
    0 0 10px 4px #ffee00;
}

.intro {
  display: block;
  width: 60%;
}

.copy {
  width: 90%;
  margin: 0 auto;
}

.controls {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: space-around;
}

.controls > div > h6 {
  border-bottom: 1px solid #ffee00;
}

.highscores {
  width: 40%;
  margin: 0 auto;
}

.scores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

@keyframes border-flicker {
  0% {
    box-shadow:
    inset 0 0 2px 1px #0ff,
    inset 0 0 3px 2px #fff,
      0 0 10px 4px #0ff;   
  }
  25% {
    box-shadow:
    inset 0 0 3px 2px #0ff,
    inset 0 0 4px 3px #fff,
      0 0 12px 6px #0ff;
  }
  50% {
    box-shadow:
    inset 0 0 4px 3px #0ff,
    inset 0 0 5px 4px #fff,
      0 0 14px 8px #0ff;
  }
  75% {
    box-shadow:
    inset 0 0 3px 2px #0ff,
    inset 0 0 4px 3px #fff,
      0 0 12px 6px #0ff;
  }
  100% {
    box-shadow:
    inset 0 0 2px 1px #0ff,
    inset 0 0 3px 2px #fff,
      0 0 10px 4px #0ff;
  }
}

@keyframes danger-flicker {
  0% {
    box-shadow:
    inset 0 0 2px 1px red,
    inset 0 0 3px 2px #fff,
      0 0 10px 4px red;   
  }
  25% {
    box-shadow:
    inset 0 0 3px 2px yellow,
    inset 0 0 4px 3px #fff,
      0 0 12px 6px red;
  }
  50% {
    box-shadow:
    inset 0 0 4px 3px red,
    inset 0 0 5px 4px #fff,
      0 0 14px 8px red;
  }
  75% {
    box-shadow:
    inset 0 0 3px 2px yellow,
    inset 0 0 4px 3px #fff,
      0 0 12px 6px yellow;
  }
  100% {
    box-shadow:
    inset 0 0 2px 1px red,
    inset 0 0 3px 2px #fff,
      0 0 10px 4px red;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 0,5;
    text-shadow: 1px 1px 15px yellow;
  }

  66% {
    opacity: 0.1;
    text-shadow: 1px 1px 15px #f0f;
  }
}