:root {
  --orientation: 90deg;
}

.Universe {
  display: block;
  position: relative;
}

#Ship {
  width: 100px;
  z-index: 1;
  height: auto;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: rotate(var(--orientation));
}

#Ship:focus {
  outline: none;
}

.Planet {
  border-radius: 50%;
}

.popup {
  height: 300px;
  width: 420px; 
  background-color: #ffffff; 
  position: fixed;
  top:50px;
  left: 50px;
}

#startbutton {
  background-color: blueviolet;
  margin: 0 auto;
  border: none;
  padding: 20px;
  border-radius: 35px;
  color: white;
}

.HUD {
  position: fixed;
  padding: 20px;
  bottom: 20px;
  left: 50%; /* move left end of div to center of screen */
  width: 1000px; /*  move div half of it's own width left to center */
  margin-left: -500px;
  height: fit-content;
  background-color: slategray;
  box-shadow:
  inset 0 0 2px 1px #0ff,
  inset 0 0 3px 2px #fff,
    0 0 10px 4px #0ff;
  /* order: x offset, y offset, blur size, spread size, color */
  /* blur and spread are optional and default to 0 */
  border-radius: 10px;
  animation: border-flicker 3s ease-in-out infinite;
}

.danger {
  animation: danger-flicker 1s linear infinite;
}

#warning {
  position: flex;
  color: red;
  justify-self: center;
  animation: text-flicker 0.75s linear infinite
}

.Status-container {
  position: relative;
  bottom: 0;
  background-color: black;
  border-radius: 25px;
  margin: 4px auto;
  width: 100%;
}

.Status-bar {
  display: flex;
  position: relative;
  left: 0;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 25px;
}

.Status-bar:nth-of-type(2) {
  bottom: 40px;
}

.Status-bar:nth-of-type(3) {
  bottom: 70px;
}

.Game-over {
  position: fixed;
  padding: 40px;
  height: fit-content;
  width: fit-content; 
  background-color: #36005a;
  border-radius: 10px;
  top: 150px;
  left: 43%;
}

.Game-over button {
  background-color: rgb(255, 238, 0);
  border-radius: 15px;
}

#mute {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 2em;
}

.intro {
  display: flex;
  background-color: #daca3c; 
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  justify-content: space-evenly;
}
.copy {
  width: 40%;
  margin: 0 auto;
}

.highscores {
  width: 40%;
  margin: 0 auto;
}

.scores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@keyframes border-flicker {
  0% {
    box-shadow:
    inset 0 0 2px 1px #0ff,
    inset 0 0 3px 2px #fff,
      0 0 10px 4px #0ff;   
  }
  25% {
    box-shadow:
    inset 0 0 3px 2px #0ff,
    inset 0 0 4px 3px #fff,
      0 0 12px 6px #0ff;
  }
  50% {
    box-shadow:
    inset 0 0 4px 3px #0ff,
    inset 0 0 5px 4px #fff,
      0 0 14px 8px #0ff;
  }
  75% {
    box-shadow:
    inset 0 0 3px 2px #0ff,
    inset 0 0 4px 3px #fff,
      0 0 12px 6px #0ff;
  }
  100% {
    box-shadow:
    inset 0 0 2px 1px #0ff,
    inset 0 0 3px 2px #fff,
      0 0 10px 4px #0ff;
  }
}

@keyframes danger-flicker {
  0% {
    box-shadow:
    inset 0 0 2px 1px red,
    inset 0 0 3px 2px #fff,
      0 0 10px 4px red;   
  }
  25% {
    box-shadow:
    inset 0 0 3px 2px yellow,
    inset 0 0 4px 3px #fff,
      0 0 12px 6px red;
  }
  50% {
    box-shadow:
    inset 0 0 4px 3px red,
    inset 0 0 5px 4px #fff,
      0 0 14px 8px red;
  }
  75% {
    box-shadow:
    inset 0 0 3px 2px yellow,
    inset 0 0 4px 3px #fff,
      0 0 12px 6px yellow;
  }
  100% {
    box-shadow:
    inset 0 0 2px 1px red,
    inset 0 0 3px 2px #fff,
      0 0 10px 4px red;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 0,5;
    text-shadow: 1px 1px 15px yellow;
  }

  66% {
    opacity: 0.1;
    text-shadow: 1px 1px 15px #f0f;
  }
}