:root {
  --orientation: 90deg;
}

.Universe {
  display: block;
  position: relative;
}

.Ship {
  width: 100px;
  z-index: 1;
  height: auto;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: rotate(var(--orientation));
}

.Planet {
  border-radius: 50%;
}

.HUD {
  position: fixed;
  padding: 40px;
  bottom: 0px;
  left: 19%;
  width: 1000px;
  height: 150px;
  background-color: slategray;
}

.Status-bar {
  position: fixed;
  bottom: 10px;
}

.Status-bar:nth-of-type(2) {
  bottom: 60px;
}

.Status-bar:nth-of-type(3) {
  bottom: 110px;
}

